body {
    background-image: url("/assets/kathmandu-map.jpg");
    background-size: cover;
    background-position: center;

}

#flags {
    display: flex;
    justify-content: center;
    margin-top: 400px;
}

img {
    height: 300px;
    width: 1000px;
}
#topflag {
    display: flex;
    justify-content: center;
}



